// https://github.com/twbs/bootstrap/issues/25126
// https://github.com/twbs/bootstrap/issues/23319
// https://getbootstrap.com/docs/4.0/getting-started/accessibility/#color-contrast

$blue: #0072ed;
$green: #0a8927;
$cyan: #008297;
$yellow: #ffc107;

$breadcrumb-bg: $white;
